<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.min.js"></script>
    <!-- <script src="https://npmcdn.com/vue/dist/vue.js"></script>-->
    <style>
        .menu-first{
            padding-left:12px;
            color:#60c4b0;
            cursor:pointer;
        }
        .menu-a-first{
            padding-left:11px;
        }
        .menu-preimg-first{
            width:12px;
            height:12px;
        }
        .menu-endimg-first{ 
            position: relative;
            width:6px;
            height:4px; 
            float: right;
            top: 5px;
            right: 10px;
        }
        
        
        .menu-second{
            padding-left:34px;
            cursor:pointer;
            color:#60c4b0;
        }
        .menu-a-second{
            padding-left:11px;
        }
        .menu-preimg-second{
            width:4px;
            height:8px;
        }
    </style>
</head>
<body>
    <div id="menuDiv" style="width:160px">
         
            <div v-for="menu in menus " >
                <div :id='"menu"+menu.id' class="menu-first"  v-on:mouseover="showBgColor(menu);" v-on:mouseout="hideBgColor(menu);" v-on:click="showMenuMore(menu);"> 
                    <img  :id='"preImg"+menu.id' :src="menu.menuImg" class="menu-preimg-first" align="absmiddle" />  
                    <a class="menu-a-first">{{menu.name}}</a> 
                    <img   :id='"imgMenu"+menu.id' src="Img/down.png" class="menu-endimg-first" align="absmiddle" />   
                </div>
                <div :style='{"display":menu.menusubdisplay}'>
                    <div v-for="menusub in menu.child " >
                        <div :id='"menu"+menusub.id'  class="menu-second" v-on:mouseover="showBgColor(menusub);" v-on:mouseout="hideBgColor(menusub);" v-on:click="showMenuMore(menusub);"> 
                            <img  :id='"preImg"+menusub.id'  :src="menusub.menuImg"  align="absmiddle" />  
                            <a  style="padding-left:11px;">{{menusub.name}}</a> 
                        </div>   
                    </div> 
                </div>
                
            </div>  
    </div>
    
    
    <script>
        new Vue({
              el: '#menuDiv',
              data: {
                        menu: {
                           id: 0, 
                            name: '',
                            subitem: false,
                            isUse: false,
                            menuImg:null, 
                            child:[]
                        },
                        menusub: {
                           id: 0, 
                            name: '',
                            subitem: false,
                            isUse: false, 
                            display:"",
                            menuImg:'Img/ico_second_1.png', 
                        },
                        menus: [{
                            id: 1, 
                            name: '一体化总览',
                            subitem: false,
                            display:"block",
                            isUse: true,
                            menuImg:'Img/menu/ico2_1.png',
                            menusubdisplay:"block",
                            click:function(){
                                alert("sss1");
                            }
                        }, {
                            id: 2, 
                            name: '生产监控',
                            subitem: false,
                            display:"block",
                            isUse: true,
                            menuImg:'Img/menu/ico2_1.png',
                            menusubdisplay:"block",
                            child:[
                                        {
                                    id: '3', 
                                    name: '厂站管理',
                                    subitem: true,
                                    display:"block",
                                    isUse: true, 
                                    menuImg:'Img/ico_second_1.png', 
                                    click:function(){
                                        alert("sss3");
                                    }
                                }, {
                                    id: 4, 
                                    name: '水厂水质',
                                    subitem: true,
                                    display:"block",
                                    isUse: true, 
                                    menuImg:'Img/ico_second_1.png', 
                                    click:function(){
                                        alert("sss4");
                                    }
                                } 
                            ],
                            click:function(){
                                alert("sss2");
                            }
                        }, {
                            id: 5, 
                            name: '管网管理',
                            subitem: false,
                            display:"block",
                            isUse: true,
                            menuImg:'Img/menu/ico2_1.png',
                            menusubdisplay:"block",
                            click:function(){
                                alert("sss4");
                            }
                            
                        }]
                    },
            created:function () {
                /*for(var i=0;i<this.menus.length;i++){
                         if(this.menus[i].subitem){
                             this.menus[i].display = "none";
                             this.menus[i].imgWidth = 4;
                             this.menus[i].imgHeight = 8;
                             this.menus[i].paddingleft = 34;
                             this.menus[i].menuImg = "Img/ico_second_1.png";
                         }else{
                             this.menus[i].display = "block";
                             this.menus[i].imgWidth = 12;
                             this.menus[i].imgHeight = 12;
                             this.menus[i].paddingleft = 12;
                         }
                     }*/
	          },
              methods: {
                 initSubitem:function(){
                        //this.data.menus
                     
                 },
                 addBook: function() {
                        //计算书的id
                        this.book.id = this.books.length + 1;
                        this.books.push(this.book);
                        //将input中的数据重置
                        this.book = '';
                        //this.book.name = 'test';
                    },
                 click :function(e){
                     e.click(); 
                    }
                  //显示背景颜色
                ,showBgColor: function(obj) { 
                        
                    //console.log(this.$el);
                    document.getElementById('menu'+obj.id).style.backgroundImage = "url(Img/menu_secong_bg_03.jpg)"; 
                    }
                    //隐藏背景颜色        
                ,hideBgColor :function (obj) {
                         document.getElementById('menu'+obj.id).style.backgroundImage = ""; 
                    }
                ,showMenuMore:function(obj){
                     
                    
                }
                , closeChildMenu:function(obj){
                    
                    
                    
                    
                    
                }
                  
              }
            })
        
         
        
    </script>
</body>
</html>